@page "/"
@using Microsoft.Azure.Cosmos
@inject MoreFairData moreFairData

<h3 style="color: #e7d5b3">Season 2: Top 100 players by AH Points</h3>

@if(TopPlayers.Count != 0)
{
<div class="row">
    <div class="col-3">
        <table class="table table-borderless w-auto" style="background-color:#10141f; color:#e7d5b3">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Asshole Points</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ranker in TopPlayers[0..50])
                {
                    <tr>
                        <td>@(TopPlayers.IndexOf(ranker) + 1)</td>
                        <td>@ranker.id</td>
                        <td class="w-auto">@ranker.UserName</td>
                        <td>@ranker.AHPoints</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col">
        <table class="table table-borderless w-auto" style="background-color:#10141f; color:#e7d5b3">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Asshole Points</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ranker in TopPlayers[50..])
                {
                    <tr>
                        <td>@(TopPlayers.IndexOf(ranker) + 1)</td>
                        <td>@ranker.id</td>
                        <td class="w-auto">@ranker.UserName</td>
                        <td>@ranker.AHPoints</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}

@code {
    public List<Player> TopPlayers { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        var queryString = "SELECT * FROM c ORDER BY c.AHPoints DESC OFFSET 1 LIMIT 100";
        var queryDef = new QueryDefinition(queryString);
        using var queryIter = moreFairData.GetPlayersQueryIterator(queryDef);
        var result = await queryIter.ReadNextAsync();
        foreach (var player in result)
        {
            TopPlayers.Add(player);
        }
    }
}
